* {
	box-sizing: border-box;
}

body {
	margin: 0;
	

}

.header {
	position: fixed;
	height: 90px;
	width: 100vw;
	background-color: rgb(207, 207, 207);
	z-index: 2000;
	
}


.header-content {
	/* position: relative; */
    width: 100%;
    display: flex;
	justify-content:space-between;
    align-items: center;
    padding: 1px 10px 10px;
	
	
}

.header-content__title {
	position: relative;
	color: rgb(0, 0, 0);
	font-size: 2.5rem;
	font-family: sans-serif;
	max-width: 400px;
	margin-top: 20px;
	left: 1%;	

}

.header-content-search {

    /* position: relative; */
    /* top: 50%; */
	height: 30px;
	width: 40%;
    min-width: 100px;
	margin-left: 2%;
    margin-top: 20px;
		

	
}
.header-content-search__box {
	height: 100%;
	width: 80%;
	border-radius: 15px;
	
	
}


.header-content-button {
	
	display: flex;
    justify-content: space-between;
	width: 80px;
    margin-top: 20px;
	
	
	
}

.header-content-button__pin {

	font-size: 18px;
    background: rgb(22, 14, 141);
    border-radius: 15px;
    color:white;
    
    /* line-height: 10px; */
	/* min-block-size: 30px; */
    width: auto;
    /* height: 30px; */
    /* min-width: 70px; */
}


.main {
	display: flex;
    /* align-items: center; */
}


.main-links {
    max-width: 300px;
    min-width: 140px;
    width: 8%;
    padding: 15px 0 0 20px;
    margin: 136px 0 0 2px;
   
    position: fixed;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 28px;
    border-right: #04240c solid 3px;
    height: 400px;
}


.main-links__link {
    margin-bottom: 5% ;
    display: block;
    color: #163b80;
    font-size: 25px;
	text-decoration: none;

}

.main-links__link:hover {
	color: #000;
}


.main-list{
    display: flexbox;
    position: relative;
    left: 23vw;
    top: 143px;
}
.main-list p {
    position: relative;
    top: 0px;
    margin:0 0 0 0;
    padding: 13px 0 30px 13px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 28px;

}
.main-list__letter{
    z-index: 1000;
    position: sticky;
    top: 143px;
    background-color:  rgb(207, 207, 207);
    color: #000000;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 28px;
    width: 72vw;
    padding: 4px 0 4px 13px;
}
.main-list__empty-block{
    top: 89px;
    position: fixed;
    z-index: 1500;
    background-color: white;
    width: 72vw;
    height: 54px;
}
